.my_nav > a {
  color: #2b303d ;
  font-size: 18px ;
}
.my_nav.active a {
  color: #2b303d ;
  background-color: white ;
  font-size: 18px ;
  border-bottom: 2px solid #2b303d ;
}
select {
  height: 60px ;
}
.brand {
  padding-top: 20px ;
  text-align: center;
  font-weight: 600;
  z-index: 1 ;
  color: rgb(43,48,61) ;
}
.input-group-addon {
  max-height: 60px ;
  border: none ;
  background-color: white ;
}

.input-group-addon label {
  font-family: "gibson" ;
}
.tab-content {
  background-color: #F78536 ;
}
.img-responsive {
  width: 100% ;
}
.city {
  background-color: white !important ;
  cursor: pointer;
  padding: 5px 5px 5px 5px ;
}
.city h6 {
  font-family: Lato, sans-serif;
  font-size: 14px ;
  color: rgb(68,68,68) ;
  text-align: center ;
  margin-top: 2px ;
  margin-bottom: 1px ;
}
.city p {
  font-family: Lato, sans-serif !important;
  color: #808080 !important ;
  text-align: center !important ;
  font-size: 12px !important ;
  margin-bottom: 1px !important ;
}
.img-thumbnail:hover {
  border-color: #1e88e5 ;
  background-color: #F0F8FF ;
}
.nav-tabs > li > a {
  color: black ;
  font-family: "gibson" ;
  font-size: 14px ;
  height: 75px ;
}
.my_nav.active > a{
  background-color: white !important ;
  color: black !important;
  border-bottom: 2px solid black !important;
  font-family: "gibson" !important ;
  font-size: 14px !important ;
}
.my_nav {
  width: 25% ;
  text-align: center;
}
.table-condensed {
  width: 100% ;
}
td.day {
  color: black !important ;
  background-color: white !important ;
  border : none !important ;
}
td.day:hover {
  border: 1px solid #6495ED !important ;
}
th.dow , th.datepicker-switch {
  color: black !important ;
  background-color: white !important ;
  font-family: "gibson" ;
  font-weight: bold;
}
.border-left {
  border-left: 2px solid black ;
}
.datepicker {
  min-width: 50% !important ;
}
input[type="radio"] {
  color: black  !important;
  cursor: pointer !important;
  content: "" ;
  /* create custom radiobutton appearance */
  display: inline-block ;
  width: 15px ;
  height: 15px ;
  padding: 3px ;
  margin-right: 5px ;
  /* background-color only for content */
  background-clip: content-box ;
  border: 1px solid black ;
  border-radius: 50% ;
}

label.black {
  color: black ;
  font-family: "gibson" ;
  font-weight: bold;
  cursor: pointer;
}
